@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

:root {
    --primary: #083737;
    --secondary: #fe938c;
}

body {
    font-family: 'Pacifico', cursive;
    background-color: var(--primary);
    color: var(--secondary);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2.5266rem;

}

h1 {
    font-size: 2rem;
    padding-bottom: 0;
}

h2 {
    margin-bottom: 20px
}

#top {
    width: 350px;
    display: flex;
    margin-top: 10px;
    margin-bottom: 30px;
    justify-content: space-between;

}

#container {
 width: 400px;
 height: 400px;
 background-color: var(--secondary);
 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
 grid-template-rows: 1fr 1fr 1fr;
 column-gap: 10px;
 row-gap: 10px;
}

.box {
    background-color: var(--primary);
    display: flex;
    align-content: center;
    justify-content: center;
    font-size: 5rem;
}

#bottom {
    width: 400px;
    text-align: center;
    font-size: 1.43rem;
}

#heartwarming {
    margin-top: 50px;
    margin-bottom: 0;
}

#heart {
    font-size: 4rem;
    margin-top: 0;
}

button {
    color: var(--primary);
    background-color: var(--secondary);
    border-radius: 100px;
    height: 100px;
    width: 100px;
    font-size: 50px;
    border: none;
}

