@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

:root {
    --primary: #083737;
    --secondary: #fe938c;
}

body {
    font-family: 'Pacifico', cursive;
    background-color: var(--primary);
    color: var(--secondary);
    display: flex;
    flex-direction: column;
    align-items: center;

}

h1 {
    font-size: 5rem;
}

.line {
    background-color: var(--secondary);
    width: 500px;
    height: 100px;
}