@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

:root {
    --primary: #083737;
    --secondary: #fe938c;
}

body {
    font-family: 'Pacifico', cursive;
    background-color: var(--primary);
    color: var(--secondary);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;

}

h1 {
    font-size: 5.05rem;
}

#top {
    width: 400px;
    display: flex;
    margin-top: 100px;
    margin-bottom: 100px;

}

.line {
    background-color: var(--secondary);
}

#line-1 {
    position: absolute;
    width: 400px;
    height: 20px;
    top: 100px;
}
#line-2 {
    position: absolute;
    width: 400px;
    height: 20px;
}
#line-3 {
    position: absolute;
}
#line-4 {
    position: absolute;
}

#board {
 width: 400px;
 height: 400px;
 background-color: gray;
}